html,
body {
    height: 100%;
    margin: 0;
}

#theWholeThing {
    margin: 0px;
    height: 100%;
}

#gameTitle {
    padding: 10px;
    background-color: rgb(53, 199, 184);
}

#theGameSpace {
    padding: 20px;
    margin: 10px 20px;
    background-color: rgb(60, 228, 211);
}
